{% extends 'base.html.twig' %}

{% block title %}Page Profil Client{% endblock %}

{% block h1 %}Profil client{% endblock %}

{% block body %}
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Pseudo : </strong>{{ app.user.pseudo }}
        </li>
        <li class="list-group-item">
            <strong>Identité : </strong>{{ app.user.prenom ~ " " ~ app.user.nom }}
        </li>
        <li class="list-group-item">
            <strong>Adresse : </strong>{{ app.user.adresse ~ " " ~ app.user.codePostal ~ " " ~ app.user.ville }}
        </li>

        <li class="list-group-item">
            <strong>E-mail : </strong>{{ app.user.email }}
        </li>

        <li class="list-group-item">
            <strong>Type : </strong>
                {% for role in app.user.roles %}
                    {% if role == "ROLE_ADMIN" %}
                        Administrateur
                    {% elseif role == "ROLE_CLIENT" %}
                        Client
                    {% elseif role == "ROLE_MODO" %}
                        Modérateur
                    {% endif %}
                {% endfor %}

                {# Afficher les rôles de l'utilisateur en remplaçant
                    ROLE_ADMIN par Administrateur
                    ROLE_CLIENT par Client
                    ROLE_MODO par Modérateur
                #}
        </li>

        <li class="list-group-item">
            <strong>Mes commandes : </strong>
            <table class="table">
                <thead>
                    <tr>
                        <th>Numéro</th>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cmd in app.user.commandes %}
                        <tr>
                            <td> <a href="{{ path('app_profil_commande', {id: cmd.id}) }}" class="btn btn-primary" title="Voir le détail de la commande"> {{ cmd.id }} </a></td>
                            <td>{{ cmd.dateEnregistrement|date("d/m/y") }}</td>
                            <td>{{ cmd.montant }} €</td>
                            <td>{{ cmd.etat|upper }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucune commande</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>

    </ul>
{% endblock %}
