{% extends 'base.html.twig' %}

{% block title %}Statut index{% endblock %}

{% block body %}
    <h1>Statut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>Actif</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.id }}</td>
                <td>{{ statut.position }}</td>
                <td>{{ statut.createdAt ? statut.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ statut.updatedAt ? statut.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ statut.actif ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_statut_show', {'id': statut.id}) }}">show</a>
                    <a href="{{ path('app_statut_edit', {'id': statut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_statut_new') }}">Create new</a>
{% endblock %}
