
<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}"><img class="vignette" src="{{ image_path ~ 'logo2.png' }}" alt="Logo" width="50"></a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
			<ul class=" d-flex navbar-nav mr-auto">
				{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="{{ path('admin') }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Admin
						</a>
					</li>
				{% endif %}
			</ul>
			<div class="d-flex">
				<ul class=" d-flex navbar-nav mr-auto">
					{% if not app.user %}
						<li class="nav-item active">
							<a class="nav-link" href="{{ path('app_login') }}">
								<i class="fa fa-sign-in-alt"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">
								<i class="fa fa-user-plus"></i>
							</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_profil') }}">
								{{ app.user.pseudo }}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">
								<i class="fa fa-sign-out-alt"></i>
							</a>
						</li>

					{% endif %}
					<li class="nav-item active m-2">
						<a class="nav-link" href="{{ path('app_panier') }}">
							<i class="fa fa-shopping-cart"></i>
							<div id="nombre"></div>
						</a>
					</li>
				</ul>
				<form class="d-flex" role="search" action="{{ path('app_recherche_ajax') }}" id="formSearch">
					<input name="search" id="search" class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">
						Recherche
					</button>
				</form>
			</div>
		</div>
	</nav>

	<ul class="nav nav-pills">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BAGUES</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">Toutes les bagues</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Another action</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Something else here</a>
				</li>
				<li><hr class="dropdown-divider"></li>

			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BRACELETS</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">Toutes les bracelets</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Another action</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Something else here</a>
				</li>
				<li><hr class="dropdown-divider"></li>

			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">BOUCLES D'OREILLES</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">Toutes les boucles d'oreilles</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Another action</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Something else here</a>
				</li>
				<li><hr class="dropdown-divider"></li>

			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">COLLIERS</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="#">Toutes les colliers</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Another action</a>
				</li>
				<li>
					<a class="dropdown-item" href="#">Something else here</a>
				</li>
				<li><hr class="dropdown-divider"></li>
			</ul>
		</li>
	</ul>
